/**
 *  A Cold Day Brown - Sub Template
 *  Author: Themes Drupal.org | www.themes-drupal.org
 *  Official Website: http://www.realizzazione-siti-vicenza.com
 *  Email: finex@finex.org
 *
 *  Powered by FiNeX design - http://www.finex.org
 */

/********************************* LAYOUT ************************************/

body{
  background-color:#513d34;
  background-image:url(img/desert.jpg);
  background-image:url(img/brown.jpg);
}

#primary{background-image:url(img/primary.png)}


/*********************************** TITLES ***********************************/

h1, h2, h3, h4, h5{color:#744528}
#sidebar h3{background-image:url(img/sidebar_title.png)}


/************************************ LINK ************************************/

a, a:link, a:visited, a:active, li a:active{color:#744528}

#sidebar a, #sidebar a:link, #sidebar a:visited, #sidebar a:active, #sidebar li a:active{color:#E3B88E}


/*********************************** LISTS ************************************/

#container ul{list-style-image:url(img/bullet.png)}


/************************************ FORM ************************************/

.form-text:focus,
.form-textarea:focus,
.form-select:focus{border-color:#945833}

input.form-submit{
  background-color:#614a3a;
  border:1px solid #47362b;
}


/************************************ PAGER ***********************************/

.item-list .pager li{
  font-size:12px;
  padding:0;
}


/********************************** SEARCH BOX ********************************/

#search-theme-form input.form-submit{background-image:url(img/search_button.png)}
#search_box{background-image:url(img/search_box.png)}
#search-theme-form input.form-text{background-image:url(img/search_bar.png)}


/*********************************** EOF **************************************/