/**
 *  A Cold Day Template
 *  Author: Themes Drupal.org | www.themes-drupal.org
 *  Official Website: http://www.realizzazione-siti-vicenza.com
 *  Email: finex@finex.org
 *
 *  Powered by FiNeX design - http://www.finex.org
 */

/********************************* LAYOUT ************************************/

body{
  color:#292929;
  font: 12px Arial, Verdana, Helvetica, sans-serif;
  text-align:center;
  background-color:#000f24;
  background-image:url(img/sea.jpg);
  background-image:url(img/blue.jpg);
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.fixed{
  width:960px;
  margin:0 auto;
  border:0;
  text-align:left;
}

.none{display:none}

#mission{
  color:#f7f7f7;
  text-align:center;
  display:block;
  height:20px;
  line-height:20px;
  overflow:hidden;
  font-size:10px;
}

#top{
  display:block;
  overflow:hidden;
  clear:both;
  height:120px;
  color:#f7f7f7;
  margin-bottom:20px;
  background-image:url(img/top.png);
}

#site-logo{
  margin-left:10px;
  display:block;
  height:120px;
  width:120px;
  float:left;
}

#site-info{
  height:120px;
  width:500px;
  display:block;
  float:left;
  overflow:hidden;
  padding:0 10px;
}

#site-name{
  line-height:80px;
  font-size:36px;
  font-variant: small-caps;
}

#site-slogan{
  display:block;
  font-size:18px;
  font-variant: small-caps;
}

#secondary{
  height:120px;
  width:120px;
  display:block;
  float:right;
  margin-right:10px;
  overflow:hidden;
}

#transparent_top{
  background-image:url(img/transparent_top.png);
  background-position:0 0;
  background-repeat:no-repeat;
  display:block;
  height:10px;
  width:960px;
}

#transparent_menu{
  background-image:url(img/transparent_menu.png);
  background-position:0 0;
  background-repeat:no-repeat;
  display:block;
  height:40px;
  width:940px;
  padding:0 10px 0 10px
}

#transparent_wrapper_bottom{
  background-image:url(img/transparent_wrapper_bottom.png);
  background-position:0 0;
  background-repeat:no-repeat;
  display:block;
  height:10px;
  width:940px;
  padding:0 10px 0 10px
}

#transparent_bottom{
  background-image:url(img/transparent_bottom.png);
  background-position:0 0;
  background-repeat:no-repeat;
  display:block;
  height:10px;
  width:960px;
}

#transparent{
  background-image:url(img/transparent.png);
  background-position:0 0;
  background-repeat:repeat;
  overflow:hidden;
  clear:both;
  display:block;
  padding:0 10px 0 10px
}

#menu{
  display:block;
  height:40px;
  width:940px;
  background:transparent;
  overflow:hidden;
}

#primary{
  display:block;
  height:40px;
  width:710px;
  float:left;
  overflow:hidden;
  line-height:40px;
  background-image:url(img/primary.png);
}

#search_box{
  display:block;
  height:40px;
  width:230px;
  float:right;
  overflow:hidden;
  background-image:url(img/search_box_blue.png);
  background-position:0 0;
  background-repeat:no-repeat;
}

#wrapper{
  overflow:hidden;
  clear:both;
  background-image:url(img/wrapper.png);
  background-position:0 0;
  background-repeat:repeat-y;
}

#wrapper_bottom{
  display:block;
  height:10px;
  width:940px;
  overflow:hidden;
  clear:both;
  background-image:url(img/wrapper_bottom.png);
  background-position:0 0;
  background-repeat:no-repeat;
}

#container{
  display:block;
  float:left;
  width:710px;
}

#main{padding:20px}

#sidebar{
  display:block;
  float:left;
  width:230px;
  color:#e5e5e5;
}

#footer_message{
  font-size:11px;
  padding:20px;
  color:#f7f7f7;
  text-align:center;
  display:block;
  height:0px;
  overflow:hidden;
  background-image:url(img/footer_message.png);
  background-position:0 0;
  background-repeat:no-repeat;
}

#credits{
  color:#aaaaaa;
  text-align:right;
  padding:10px 10px 0 0;
}


/*********************************** TITLES ***********************************/

h1, h2, h3, h4, h5{
  margin:0 0 10px 0;
  font-weight:normal;
  color:#12345C;
}

h1, h1#title{font-size:24px}
h2{font-size:24px}
h3{font-size:20px}
h4{font-size:18px}
h5{font-size:16px}

#credits h5{
  color:white;
  font-size:10px;
  font-weight:normal
}

#sidebar h3{
  padding:0 10px;
  font-size:16px;
  font-weight:bold;
  color:white;
  background-image:url(img/sidebar_title.png);
  background-repeat:no-repeat;
  background-position:0 0;
  line-height:30px;
  margin:0;
}

#sidebar h4{
  font-size:16px;
  font-weight:bold;
}

h1#title{
  padding:0 20px;
  margin:0;
  line-height:60px;
  background-image:url(img/title.png);
  background-repeat:repeat-y;
  background-position:0 0;
}


/************************************ LINK ************************************/

a, a:link, a:visited, a:active, li a:active{
  text-decoration:none;
  color:#225c9e;
}

a:hover{text-decoration:underline}
h1#title a:hover{text-decoration:none}

#primary a, #primary a:link, #primary a:visited, #primary a:active, #primary li a:active{
  color:white;
  font-size:14px;
}

#secondary a, #secondary a:link, #secondary a:visited, #secondary a:active, #secondary li a:active{
  color:white;
  font-size:10px;
}

#credits a, #credits a:link, #credits a:visited, #credits a:active, #credits li a:active{color:white}


#sidebar a, #sidebar a:link, #sidebar a:visited, #sidebar a:active, #sidebar li a:active{color:#84b1e4}

#site-logo a{font-size:0}
#site-name a{color:white}

#footer_message a{
  color:white;
  text-decoration:underline;
}


/*********************************** LISTS ************************************/

#container ul{list-style-image: url(img/bullet.png)}

#container ul,
#container ol{
  list-style-position: inside;
  line-height:1.5em;
  margin-bottom:10px;
}

#container .node ol li{
  margin:0 0 0 20px;
  padding:0;
}
#container .node ul li{
  margin:0;
  padding:0;
}

.item-list ul li{line-height:1.5em}

.block-similar .item-list ul li{font-size:18px}

#container .node ol li{list-style:decimal}

dl dd {
  padding-left:20px;
  font-size:13px;
}


/******************************** PRIMARY LINKS *******************************/

#primary ul.links{padding-left:10px}

#primary ul.links li{
  display:inline;
  padding:0 20px 0 0;
}


/******************************** SECONDARY LINKS *******************************/

#secondary{
  text-align:right;
  padding-top:20px;
}

#secondary ul.links li{
  display:block;
  padding:4px 0;
}


/********************************** BLOCKS ************************************/

#sidebar .block {margin-top:10px}

#sidebar .block .content{padding:10px}


/************************************ NODES ***********************************/

#container .node {
  margin-bottom:20px;
}

.node p{
  margin-top:0;
  margin-bottom:8px;
  line-height:1.5em;
}


/******************************** OTHER ELEMENTS ******************************/

blockquote{
  margin:0;
  font-size:22px;
  color:#a9a9a9;
  line-height:1.3em;
  padding-left:30px;
  background-image:url(img/blockquote.png);
  background-repeat:no-repeat;
  background-position:0 0;
}

tbody{border:0}
table{width:100%}

hr{
  border:1px dashed #cccccc;
  height:0px;
  margin:20px 0 20px 0;
}

#simplemenu{position:relative }

code{
  font-family:monospace;
  padding:5px;
  background-color:#eeeeee;
  border:1px solid #bbbbbb;
}


/********************************** TABLES ************************************/

table th,
table td{
  padding:5px;
  vertical-align:middle
}

table th{font-size:0.85em}

div.block table{margin:0}

table tr.odd{background:#f0f8fa}

table thead tr,
table tr.even{background:#f6fbfc}

table td,
table th{padding:5px}

table#attachments{margin-top:10px}


/************************************ FORM ************************************/

label{font-weight:bold}

select,
textarea,
.form-text,
.form-textarea,
.form-select{
  width:90%;
  padding:5px;
  border:1px solid #ccc;
  background:white;
  color:#333333;
}

.form-text:focus,
.form-textarea:focus,
.form-select:focus{
  color:black;
  border-color:#5a98cb;
  background:#eeeeee;
}

input.form-submit{
  cursor:pointer;
  padding:3px 10px;
  color:white;
  font-weight:normal;
  background-color:#5a98cb;
  border:1px solid #5189B7;
}

input.form-submit:active{background:#999999}

input.form-radio,
input.form-checkbox{vertical-align:middle}

.form-item .description,
.description{
  color:#666666;
  font-size:11px;
}

div.collapsible h2.fieldset-title{cursor:pointer}
div.collapsed div.fieldset-content{display:none}

fieldset.collapsible{
  padding:5px;
  border:1px solid #cccccc;
  margin-bottom:10px;
}

#autocomplete ul{list-style-image: none}

html.js input.form-autocomplete{background-position:100% 7px}
html.js input.throbbing{background-position:100% -13px}
#diff-inline-form select,
#content div.filter-options select{padding:0}

#content div.form-item{margin-bottom:20px}
#content div.form-option{margin-bottom:10px}
#content table div.form-item{margin-bottom:0}


/************************** SPECIFIC FORMS ************************************/

div.container-inline div{display:inherit}

form#user-pass input.form-text,
form#user-login input.form-text{font-size:18px}


/******************************** FIELDSETES **********************************/

div.fieldset,
div.view-filters,
form table{
  background:white;
  border:1px solid #dddddd;
  margin:0 0 10px;
}

div.fieldset h2.fieldset-title{
  background:transparent;
  font-size:11px;
  font-weight:bold;
  padding:5px;
}

div.fieldset div.fieldset-content{
  background:transparent;
  border:0;
  padding:5px;
}

div.fieldset table{background:#eeeeee}


/****************************** PREVIEW NODE **********************************/

div.preview .node{
  border:1px solid #eeeeee;
  border-bottom-color:#dddddd;
  padding:9px;
  margin:0 0 20px;
}

div.preview .node h1{
  background:#f8f8f8;
  padding:4px;
  font-size:11px;
}

div.preview .node .content{padding:9px}


/*********************************** TABS *************************************/
div.tabs ul.tabs{
  border:1px solid #dddddd;
  padding:10px;
  margin-bottom:5px;
  font-size:12px;
}

ul.tabs li{padding-right:10px}

ul.tabs li.active a {
  font-weight:bold;
  color:#333333;
}

div.tabs ul.secondary{
  background-color:#dddddd
}


/******************************* ELEMENTI SIDEBAR *****************************/

.views-row-last h4{margin-bottom:0}


/************************************ PAGER ***********************************/

.item-list .pager li{
  font-size:12px;
  padding:0;
}


/************************************* TAGS ***********************************/

.tags{
  font-size:0.85em;
  border:1px solid #e0e0e0;
  padding:5px;
  color:#858585;
}


/*********************************** MESSAGES *********************************/

div.messages{margin:0 0 20px 0}

div.messages ul li{list-style-type:none;}

div.status{
  padding:2px;
  border:1px solid #008A2E;
  background-color:#B1F9C9;
}

div.error{
  padding:2px;
  border:1px solid #F95137;
  background-color:#F9B2B2;
}


/********************************** SEARCH BOX ********************************/

#search-theme-form{
  padding:10px 10px 0 0;
  float:right;
  height:20px;
}

#search-theme-form #search{
  width:210px;
  height:20px;
}

#search-theme-form label{
  display:none;
}

#search-theme-form #search .form-item{
  margin:0;
  padding:0;
  width:180px;
  height:20px;
  display:block;
  float:left;
}

#search-theme-form input.form-text{
  background-image:url(img/search_bar.png);
  width:170px; /*  180 - (5*2) */
  height:18px; /* 20 - (2) */
  line-height:20px;
  border:0;
  display:block;
  float:left;
  padding:2px 5px 0 5px;
  color:#f7f7f7;
}


#search-theme-form input.form-submit{
  background-image:url(img/search_button.png);
  width:30px;
  height:20px;
  border:0;
  color:transparent;
  display:block;
  float:right;
  cursor:pointer;
  /* hack */
  font-size:0;
  line-height:0;
  text-indent:40px;
  display:block;
  float:right;
}

#search-theme-form input.form-submit:hover{
  background-position:0 -20px;
}


/*********************************** EOF **************************************/